@model KutuphaneTakip.Models.Kitap;
<form asp-controller="kitap" asp-action="guncelle" method="post">
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="KitapId">
    <div class="form-group">
        <label asp-for="KitapId"></label>
        <input asp-for="KitapId" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="KitapAdi"></label>
        <input asp-for="KitapAdi" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="KitapYazar"></label>
        <input asp-for="KitapYazar" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="KitapTur"></label>
        <input asp-for="KitapTur" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="YayinEvi"></label>
        <input asp-for="YayinEvi" class="form-control">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary"> Güncelle</button>
    </div>
</form>
